<main class="container my-5">
  <section class="card">
    <div class="card-header text-center">
      <h1>{{ title }}</h1>
    </div>
    <div class="card-body py-3">
      <div class="mb-3">
        <label>Number A:</label>
        <input type="number" class="form-control" [(ngModel)]="calc.A" />
      </div>
      <div class="mb-3">
        <label>Number B:</label>
        <input type="number" class="form-control" [(ngModel)]="calc.B" />
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" (click)="calculate('+')">Sum</button>
      </div>
    </div>
    <div class="card-footer text-center">
      <h4>Result: {{ calc.result }}</h4>
    </div>
  </section>
</main>
